/* ESTILOS YACIMIENTOS BIOGAS- UXDEVCO */
.gnc-gasoducto-landscape{
  width: 19600px;
  max-height: 670px;
}
.main-landscape-image{
  position: inherit;
  z-index: 10;
  margin-top: -222px;
  margin-left: 580px;
}
.camion{
  top: 358px;
}
.camion-animated{
  top: 358px;
}
/*elements position*/
#tree-1{ bottom: -10px; left: 10px;}
#tree-2{ bottom: -10px; left: 1796px;}
#tree-3{ bottom: -20px; left: 1570px;}
#tree-4{ bottom: -10px; left: 2454px;}
#tree-5{ bottom: -25px; left: 2650px;}
#tree-6{ bottom: -10px; left: 2850px;}
#tree-7{ bottom: -25px; left: 3150px;}
#tree-8{ bottom: -10px; left: 3000px;}
#tree-9{ bottom: -25px; left: 3350px;}
#tree-10{ bottom: -18px; left: 3450px;}
#tree-11{ bottom: -25px; left: 4600px;}
#tree-12{ bottom: -14px; left: 5112px;}
#tree-13{ bottom: -30px; left: 5230px;}
#tree-14{ bottom: -20px; left: 5380px;}
#tree-15{ bottom: -14px; left: 5600px;}
#tree-16{ bottom: -25px; left: 5750px;}
#tree-17{ bottom: -14px; left: 5920px;}
#tree-18{ bottom: -25px; left: 6450px;}
#tree-19{ bottom: -15px; left: 6570px;}
#tree-20{ bottom: -15px; left: 7000px;}
#tree-21{ bottom: -25px; left: 6750px;}
#tree-22{ bottom: -15px; left: 7420px;}
#tree-23{ bottom: -25px; left: 8018px;}
#tree-24{ bottom: -15px; left: 8227px;}
#tree-25{ bottom: -15px; left: 9050px;}
#tree-26{ bottom: -25px; left: 9366px;}
#tree-27{ bottom: -10px; left: 10870px;}
#tree-28{ bottom: -10px; left: 10700px;}
#tree-29{ bottom: -10px; left: 11000px;}
#tree-30{ bottom: -10px; left: 12120px;}
#tree-31{ bottom: -10px; left: 12300px;}
#tree-32{ bottom: -10px; left: 12950px;}
#tree-33{ bottom: -10px; left: 13300px;}
#tree-34{ bottom: -10px; left: 13450px;}
#tree-35{ bottom: -10px; left: 13600px;}
#tree-36{ bottom: -10px; left: 13750px;}
#tree-37{ bottom: -10px; left: 14100px;}
#tree-38{ bottom: -10px; left: 14700px;}
#tree-39{ bottom: -25px; left: 15200px;}
#tree-40{ bottom: -10px; left: 15300px;}
#tree-41{ bottom: -25px; left: 15400px;}
#tree-42{ bottom: -10px; left: 15500px;}
#tree-43{ bottom: -10px; left: 16100px;}
#tree-44{ bottom: -10px; left: 16400px;}
#tree-45{ bottom: -10px; left: 16800px;}
#tree-46{ bottom: -10px; left: 17000px;}
#tree-47{ bottom: -10px; left: 17300px;}
#tree-48{ bottom: -10px; left: 17450px;}
#tree-49{ bottom: -10px; left: 17520px;}
#tree-50{ bottom: -10px; left: 17900px;}
#tree-51{ bottom: -10px; left: 18200px;}

#hill-1{ bottom: 0; left: 0px;}
#hill-2{ bottom: 0; left: 1780px;}
#hill-3{ bottom: 0; left: 1900px;}
#hill-4{ bottom: 0; left: 2970px;}
#hill-5{ bottom: 0; left: 3000px;}
#hill-6{ bottom: 0; left: 3200px;}
#hill-7{ bottom: 0; left: 4050px;}
#hill-8{ bottom: 0; left: 4750px;}
#hill-9{ bottom: 0; left: 5017px;}
#hill-10{ bottom: 0; left: 5250px;}
#hill-11{ bottom: 0; left: 5400px;}
#hill-12{ bottom: 0; left: 6350px;}
#hill-13{ bottom: 0; left: 6550px;}
#hill-14{ bottom: 0; left: 8025px;}
#hill-15{ bottom: 0; left: 8213px;}
#hill-16{ bottom: 0; left: 9020px;}
#hill-17{ bottom: 0; left: 9214px;}
#hill-18{ bottom: 0; left: 10800px;}
#hill-19{ bottom: 0; left: 11000px;}
#hill-20{ bottom: 0; left: 12150px;}
#hill-21{ bottom: 0; left: 12235px;}
#hill-22{ bottom: 0; left: 12900px;}
#hill-23{ bottom: 0; left: 13040px;}
#hill-24{ bottom: 0; left: 13900px;}
#hill-25{ bottom: 0; left: 14050px;}
#hill-26{ bottom: 0; left: 15130px;}
#hill-27{ bottom: 0; left: 15400px;}
#hill-28{ bottom: 0; left: 16500px;}
#hill-29{ bottom: 0; left: 16950px;}
#hill-30{ bottom: 0; left: 17400px;}
#hill-31{ bottom: 0; left: 17550px;}
#hill-32{ bottom: 0; left: 18100px;}

#txt-wrap-1{bottom: -305px; left: 150px;}
#txt-wrap-2{top: -180px; left: 11093px;}
#txt-wrap-3{top: -180px; left: 12300px;}
#txt-wrap-4{top: -180px; left: 13750px;}

#icon-1{top: -130px; left: 500px;}
#icon-2{top: 0px; left: 500px;}
#icon-3{top: 130px; left: 490px;}
#icon-4{top: -132px; left: 1200px;}
#icon-5{top: 0px; left: 1200px;}
#icon-6{top: 130px; left: 1200px;}

#icon-txt-1{top: -100px; left: 663px; width: 120px;}
#icon-txt-2{top: 32px; left: 663px; width: 120px;}
#icon-txt-3{top: 147px; left: 663px; width: 120px;}
#icon-txt-4{top: -98px; left: 1365px; width: 200px;}
#icon-txt-5{top: 17px; left: 1365px; width: 200px;}
#icon-txt-6{top: 175px; left: 1365px; width: 200px;}

#h2-1{top: 40px; left: 830px;}
#h2-2{top: 40px; left: 2190px;}
#h2-3a{top: 40px; left: 3850px;}
#h2-3{top: 40px; left: 5605px;}
#h2-4{top: 40px; left: 6900px;}
#h2-5{top: 40px; left: 8600px;}
#h2-6{top: 40px; left: 9970px;}
#h2-7{top: 40px; left: 11500px;}
#h2-8{top: 40px; left: 12700px;}
#h2-9{top: 40px; left: 14170px;}
#h2-10{top: 40px; left: 15600px;}
#h2-11{top: 40px; left: 15450px;}
#h2-12{top: -60px; left: 17700px;}

#subt-1{ top: 85px; left: 800px;}
#subt-2{ top: 85px; left: 2150px;}
#subt-3a{ top: 85px; left: 3820px;}
#subt-3{ top: 85px; left: 5570px;}
#subt-4{ top: 85px; left: 6960px;}
#subt-5{ top: 85px; left: 8622px;}
#subt-6{ top: 85px; left: 9997px;}
#subt-7{ top: 85px; left: 11555px;}
#subt-8{ top: 85px; left: 12758px;}
#subt-9{ top: 85px; left: 14228px;}
#subt-10{ top: 85px; left: 15475px;}
#subt-11{ top: 85px; left: 15470px;}
#subt-12{top: 30px; left: 17725px; font-size: 1.85em;}

#txt-1{ top: 250px; left: 579px; width: 200px;}
#txt-2{ top: 230px; left: 2120px; width: 450px;}
#txt-3{ top: 192px; left: 3855px; width: 450px;}
#txt-4{ top: 180px; left: 3517px; width: 420px;}
#txt-5{ top: 177px; left: 4025px; width: 420px;}
#txt-6{ top: 210px; left: 5250px; width: 500px;}
#txt-7{ top: 250px; left: 11100px; width: 450px;}
#txt-8{ top: 220px; left: 12307px; width: 400px;}
#txt-9{ top: 220px; left: 12850px; width: 400px;}
#txt-10{ top: -127px; left: 13000px; width: 70px;}
#txt-11{ top: -127px; left: 13268px; width: 70px;}
#txt-12{ top: -215px; left: 14488px; width: 350px;}
#txt-13{ top: 220px; left: 13782px; width: 450px;}
#txt-14{ top: 220px; left: 14300px; width: 450px;}
#txt-15{ top: 200px; left: 16600px; width: 400px;}
#txt-16{ top: 210px; left: 6623px; width: 400px;}


#h3-0{ top: -4px; left: 1258px;}
#h3-01{ top: 115px; left: 1748px; font-size: 1.1em;}
#h3-02{ top: -160px; left: 2590px;}
#h3-03{ top: -160px; left: 3360px;}
#h3-04{ top: -160px; left: 4225px;}
#h3-1{ top: -160px; left: 1683px;}
#h3-2{ top: 85px; left: 1050px;}
#h3-3{ top: 118px; left: 8538px;}
#h3-4{ top: -185px; left: 2150px;}
#h3-5{ top: 190px; left: 2120px; border-bottom: 1px solid #1a5489;}
#h3-6{ top: -188px; left: 3000px;}
#h3-7{ top: 140px; left: 3518px;}
#h3-8{ top: 213px; left: 8376px;}
#h3-9{ top: 213px; left: 8896px;}
#h3-10{ top: 120px; left: 9884px;}
#h3-11{ top: 213px; left: 10065px;}
#h3-12{ top: -200px; left: 11221px;}
#h3-13{ top: 216px; left: 11100px;}
#h3-14{ top: -201px; left: 12426px;}
#h3-15{ top: -201px; left: 13876px;}
#h3-16{ top: -241px; left: 14486px;}
#h3-17{ top: -174px; left: 13854px;}
#h3-18{ top: 213px; left: 15570px;}
#h3-19{ top: 214px; left: 14338px;}
#h3-20{ top: 214px; left: 14600px;}
#h3-21{ top: 214px; left: 15446px;}
#h3-22{ top: 120px; left: 16915px;}
#h3-23{ top: 142px; left: 17034px;}
#h3-24{ top: 120px; left: 17137px;}
#h3-25{ top: 140px; left: 17296px;}
#h3-26{ top: 194px; left: 17044px;}
#h3-27{ top: -265px; left: 17084px;}
#h3-28{ top: 160px; left: 5250px}
#h3-29{ top: 185px; left: 16546px; width: 400px; text-align: left; color: white; background-color: #1a5489; padding: 10px; font-weight: normal; font-size: 1.3em;}

#arrow-0{top: -150px; left: 1844px;}
#arrow-1{top: -150px; left: 2815px;}
#arrow-2{top: -150px; left: 3585px;}
#arrow-3{top: -150px; left: 4505px;}

#warning-1{top: 275px; left: 2670px;}
#warning-2{top: 177px; left: 3990px;}
#warning-3{top: 217px; left: 14265px;}
#warning-4{top: 150px; left: 13400px;}

#b-line-1{top: 46px; left: 8320px;}
#b-line-2{top: 53px; left: 8795px;}
#b-line-3{top: -43px; left: 12609px;}
#b-line-4{top: -43px; left: 14055px;}
#b-line-5{top: 76px; left: 15505px;}
#b-line-6{top: 76px; left: 14311px;}
#b-line-7{top: 76px; left: 14611px;}
#b-line-8{top: 234px; left: 14905px;}

#blt-1{top: 195px; left: 8410px;}
#blt-2{top: 195px; left: 8943px;}
#blt-3{top: 195px; left: 10115px;}
#blt-4{top: 195px; left: 15746px;}
#blt-5{top: 195px; left: 14423px;}
#blt-6{top: 195px; left: 14742px;}

#figure-1{top: -103px; left: 8350px;}
#figure-2{top: -198px; left: 8807px;}
#figure-3{top: -61px; left: 9630px;}
#figure-4{top: -65px; left: 9730px; z-index: 8}
#figure-5{top: -144px; left: 11134px;}
#figure-6{top: -144px; left: 12336px;}
#figure-7{top: -136px; left: 12984px;}
#figure-8{top: -144px; left: 13791px;}
#figure-9{top: 34px; left: 14242px;}
#figure-10{top: 7px; left: 14335px;}
#figure-11{top: -172px; left: 14424px;}
#figure-12{top: 7px; left: 14464px;}
#figure-13{top: 7px;; left: 14596px;}
#figure-14{top: 7px; left: 14727px;}
#figure-15{top: -300px; left: 14612px;}
#figure-16{top: -130px; left: 15500px;}
#figure-17{top: -41px; left: 14320px;}
#figure-18{top: -89px; left: 14610px;}
#figure-19{top: -168px; left: 15247px;}
#figure-20{top: -45px; left: 16900px;}
#figure-21{top: -23px; left: 17020px;}
#figure-22{top: -45px; left: 17150px;}
#figure-23{top: -23px; left: 17280px;}
#figure-24{top: -230px; left: 17080px;}

#figure-25{top: -3px; left: 1070px;}
/**/
#up-down-arrow-1{top: 75px; left: 8106px;}
#up-down-arrow-2{top: 75px; left: 8245px;}
#up-down-arrow-3{top: 75px; left: 8382px;}
#up-down-arrow-4{top: 75px; left: 8517px;}
#up-down-arrow-5{top: 123px; left: 14850px;}
#up-down-arrow-6{top: 123px; left: 14980px;}

#cloud-1{top: 130px; left: 100px;}
#cloud-2{top: 70px; left: 0px;}
#cloud-3{top: 130px; left: 500px;}
#cloud-4{top: 90px; left: 1000px;}
#cloud-5{top: 50px; left: 1200px;}
#cloud-6{top: 90px; left: 1500px;}
#cloud-7{top: 20px; left: 2200px;}
#cloud-8{top: 130px; left: 2500px;}
#cloud-9{top: 110px; left: 3200px;}
#cloud-10{top: 65px; left: 3500px;}
#cloud-11{top: 110px; left: 3800px;}
#cloud-12{top: 70px; left: 4400px;}
#cloud-13{top: 120px; left: 4700px;}
#cloud-14{top: 70px; left: 5000px;}
#cloud-15{top: 100px; left: 6000px;}
#cloud-16{top: 100px; left: 6600px;}
#cloud-17{top: 20px; left: 7400px;}
#cloud-18{top: 70px; left: 8100px;}
#cloud-19{top: 70px; left: 8600px;}
#cloud-20{top: 70px; left: 9200px;}
#cloud-21{top: 250px; left: 10500px;}
#cloud-22{top: 20px; left: 11000px;}
#cloud-23{top: 160px; left: 11900px;}
#cloud-24{top: 120px; left: 12500px;}
#cloud-25{top: 150px; left: 12900px;}
#cloud-26{top: 100px; left: 13500px;}
#cloud-27{top: 150px; left: 13900px;}
#cloud-28{top: 20px; left: 14500px;}
#cloud-29{top: 35px; left: 14900px;}

a#continue-yacimiento-process{top: 100px; left: 15904px;}
a#continue-gasoducto-process{top: 100px; left: 16122px}
.menu-circles-icons-end p.pick-btn{top: 0;left: 15660px;}

.menu-circles-icons-end{
  left: 18500px;
}

/*elements css*/
.treeType1{
  z-index: 4; position: absolute;
  width: 80px; height: 117px;
  background: transparent url(../images/arbol-galileo-1.png) no-repeat;
}
.treeType2{
  z-index: 4; position: absolute;
  width: 64px; height: 94px;
  background: transparent url(../images/arbol-galileo-2.png) no-repeat;  
}
.txtWrap1{
  z-index: 10; position: absolute;
  width: 341px; height: 537px;
  background: transparent url(../images/cajon-txt-section1.png) no-repeat;
  padding: 20px 0;
}
.txtWrap2{
  width: 407px; height: 311px;
  z-index: 10; position: absolute;
  background: transparent url(../images/cnx-bg.png) no-repeat;
  padding: 0;
}
#line-1{
  width: 120px; height: 177px;
  background: transparent url(../images/linea01.png) no-repeat;
  top: 100px; left: 788px;
}
.red-arrow{
  width: 74px; height: 9px;
  background: transparent url(../images/arrow1.png) no-repeat;
}
.warning-icon{
  width: 25px; height: 25px;
  background: transparent url(../images/icono-warning.png) no-repeat;  
}
.icon1{
  width: 152px; height: 111px;
  background: transparent url(../images/biogas-01.png) no-repeat;
}
.icon2{
 width: 152px; height: 110px;
 background: transparent url(../images/biogas-02.png) no-repeat;
}
.icon3{
 width: 161px; height: 111px;
 background: transparent url(../images/biogas-03.png) no-repeat;
}
.icon4{
 width: 152px; height: 111px;
 background: transparent url(../images/biogas-04.png) no-repeat;
}
.icon5{
 width: 152px; height: 111px;
 background: transparent url(../images/biogas-05.png) no-repeat;;
}
.icon6{
 width: 152px; height: 111px;
 background: transparent url(../images/biogas-06.png) no-repeat;
}
.figure1{
 width: 210px; height: 148px;
 background: transparent url(../images/cuasianas-upstream.png) no-repeat;
}
.figure2{
 width: 433px; height: 211px;
 background: transparent url(../images/industrias.png) no-repeat;
}
.figure3{
 width: 1027px; height: 216px;
 background: transparent url(../images/yate.png) no-repeat;
}
.figure4{
 width: 308px; height: 26px;
 background: transparent url(../images/tren.png) no-repeat;
}
.figure5{
 width: 319px; height: 225px;
 background: transparent url(../images/cnx-figure.png) no-repeat;
}
.figure6{
 width: 399px; height: 218px;
 background: transparent url(../images/estacion-servicio-gnl.png) no-repeat;
}
.figure7{
 width: 83px; height: 59px;
 background: transparent url(../images/carro-rojo.png) no-repeat;
}
.figure8{
 width: 99px; height: 83px;
 background: transparent url(../images/camion-amarillo.png) no-repeat;
}
.figure9{
 width: 461px; height: 195px;
 background: transparent url(../images/bodega.png) no-repeat;
}
.figure10{
 width: 80px; height: 58px;
 background: transparent url(../images/medidor.gif) no-repeat;
}
.figure11{
 width: 474px; height: 197px;
 background: transparent url(../images/comunidades.png) no-repeat;
}
.figure12{
 width: 218px; height: 110px;
 background: transparent url(../images/inyeccion-red.png) no-repeat;
}
.figure13{
 width: 255px; height: 158px;
 background: transparent url(../images/terminal-recepcion.png) no-repeat;
}
.figure14{
 width: 1147px; height: 278px;
 background: transparent url(../images/barco-carga.png) no-repeat;
}
.figure15{
 width: 68px; height: 163px;
 background: transparent url(../images/flecha-blanca.png) no-repeat;
}
.figure16{
 width: 68px; height: 163px;
 background: transparent url(../images/flecha-azul.png) no-repeat;
}
.figure17{
 width: 113px; height: 75px;
 background: transparent url(../images/pipeline-booster.png) no-repeat;
}
.figure18{
 width: 135px; height: 150px;
 background: transparent url(../images/torre-electrica-1.png) no-repeat;
}
.figure19{
 width: 301px; height: 251px;
 background: transparent url(../images/industrias-sml.png) no-repeat;
}
.blue-line-title{
  width: 3px; height: 19px;
  background: transparent url(../images/linea-azul-01.png) no-repeat;
}
.b-line-1{
  width: 181px; height: 101px;
  background: transparent url(../images/linea-azul-12.png) no-repeat;
}
.b-line-2{
  width: 632px; height: 67px;
  background: transparent url(../images/linea-azul-03.png) no-repeat;
}
.b-line-3{
  width: 563px; height: 146px;
  background: transparent url(../images/linea-azul-05.png) no-repeat;
}
.b-line-4{
  width: 332px; height: 162px;
  background: transparent url(../images/linea-azul-06.png) no-repeat;
}
.b-line-5{
  width: 476px; height: 69px;
  background: transparent url(../images/linea-azul-07.png) no-repeat;
}
.b-line-6{
  width: 224px; height: 69px;
  background: transparent url(../images/linea-azul-08.png) no-repeat;
}
.b-line-7{
  width: 257px; height: 69px;
  background: transparent url(../images/linea-azul-09.png) no-repeat;
}
.b-line-8{
  width: 541px; height: 3px;
  background: transparent url(../images/linea-azul-14.png) no-repeat;
}
.b-line-9{
  width: 324px; height: 96px;
  background: transparent url(../images/linea-azul-11.png) no-repeat;
}