/* ESTILOS GALILEO BIOGAS- UXDEVCO */
.gnc-biogas-landscape{ 
  width: 19600px;
  max-height: 670px;
}
.main-landscape-image{
  position: inherit;
  z-index: 10;
  margin-top: -222px;
  margin-left: 800px;
}
.camion{
  top: 358px;
}
.camion-animated{
  top: 358px;
}
/*elements position*/
#tree-1{ bottom: -10px; left: 10px;}
#tree-2{ bottom: -10px; left: 1796px;}
#tree-3{ bottom: -20px; left: 1570px;}
#tree-4{ bottom: -10px; left: 2454px;}
#tree-5{ bottom: -25px; left: 2650px;}
#tree-6{ bottom: -10px; left: 2850px;}
#tree-7{ bottom: -25px; left: 3150px;}
#tree-8{ bottom: -10px; left: 3500px;}
#tree-9{ bottom: -25px; left: 3850px;}
#tree-10{ bottom: -18px; left: 3990px;}
#tree-11{ bottom: -25px; left: 4600px;}
#tree-12{ bottom: -14px; left: 5112px;}
#tree-13{ bottom: -30px; left: 5230px;}
#tree-14{ bottom: -20px; left: 5380px;}
#tree-15{ bottom: -14px; left: 5600px;}
#tree-16{ bottom: -25px; left: 5750px;}
#tree-17{ bottom: -14px; left: 5920px;}
#tree-18{ bottom: -25px; left: 6450px;}
#tree-19{ bottom: -15px; left: 6570px;}
#tree-20{ bottom: -15px; left: 7000px;}
#tree-21{ bottom: -25px; left: 6750px;}
#tree-22{ bottom: -15px; left: 7420px;}
#tree-23{ bottom: -25px; left: 8018px;}
#tree-24{ bottom: -15px; left: 8227px;}
#tree-25{ bottom: -15px; left: 9550px;}
#tree-26{ bottom: -25px; left: 9750px;}
#tree-27{ bottom: -10px; left: 10300px;}
#tree-28{ bottom: -10px; left: 10700px;}
#tree-29{ bottom: -10px; left: 11000px;}
#tree-30{ bottom: -10px; left: 12120px;}
#tree-31{ bottom: -10px; left: 12300px;}
#tree-32{ bottom: -10px; left: 12950px;}
#tree-33{ bottom: -10px; left: 13300px;}
#tree-34{ bottom: -10px; left: 13450px;}
#tree-35{ bottom: -10px; left: 13600px;}
#tree-36{ bottom: -10px; left: 13750px;}
#tree-37{ bottom: -10px; left: 14100px;}
#tree-38{ bottom: -10px; left: 14700px;}
#tree-39{ bottom: -25px; left: 15200px;}
#tree-40{ bottom: -10px; left: 15300px;}
#tree-41{ bottom: -25px; left: 15400px;}
#tree-42{ bottom: -10px; left: 15500px;}
#tree-43{ bottom: -10px; left: 16100px;}
#tree-44{ bottom: -10px; left: 16400px;}
#tree-45{ bottom: -10px; left: 16800px;}
#tree-46{ bottom: -10px; left: 17000px;}
#tree-47{ bottom: -10px; left: 17300px;}
#tree-48{ bottom: -10px; left: 17450px;}
#tree-49{ bottom: -10px; left: 17520px;}
#tree-50{ bottom: -10px; left: 17900px;}
#tree-51{ bottom: -10px; left: 18200px;}

#hill-1{ bottom: 0; left: 0px;}
#hill-2{ bottom: 0; left: 1780px;}
#hill-3{ bottom: 0; left: 1900px;}
#hill-4{ bottom: 0; left: 2970px;}
#hill-5{ bottom: 0; left: 3500px;}
#hill-6{ bottom: 0; left: 3600px;}
#hill-7{ bottom: 0; left: 4050px;}
#hill-8{ bottom: 0; left: 4750px;}
#hill-9{ bottom: 0; left: 5017px;}
#hill-10{ bottom: 0; left: 5250px;}
#hill-11{ bottom: 0; left: 5400px;}
#hill-12{ bottom: 0; left: 6350px;}
#hill-13{ bottom: 0; left: 6550px;}
#hill-14{ bottom: 0; left: 8025px;}
#hill-15{ bottom: 0; left: 8213px;}
#hill-16{ bottom: 0; left: 9720px;}
#hill-17{ bottom: -6px; left: 9514px;}
#hill-18{ bottom: 0; left: 10800px;}
#hill-19{ bottom: 0; left: 11000px;}
#hill-20{ bottom: 0; left: 12150px;}
#hill-21{ bottom: 0; left: 12235px;}
#hill-22{ bottom: 0; left: 12900px;}
#hill-23{ bottom: 0; left: 13040px;}
#hill-24{ bottom: 0; left: 13900px;}
#hill-25{ bottom: 0; left: 14050px;}
#hill-26{ bottom: 0; left: 15130px;}
#hill-27{ bottom: 0; left: 15400px;}
#hill-28{ bottom: 0; left: 16500px;}
#hill-29{ bottom: 0; left: 16950px;}
#hill-30{ bottom: 0; left: 17400px;}
#hill-31{ bottom: 0; left: 17550px;}
#hill-32{ bottom: 0; left: 18100px;}

#txt-wrap-1{bottom: -305px; left: 150px;}
#txt-wrap-2{top: -180px; left: 9893px;}
#txt-wrap-3{top: -180px; left: 11100px;}
#txt-wrap-4{top: -180px; left: 12550px;}

#icon-1{top: -130px; left: 500px;}
#icon-2{top: 0px; left: 500px;}
#icon-3{top: 130px; left: 490px;}
#icon-4{top: -132px; left: 1200px;}
#icon-5{top: 0px; left: 1200px;}
#icon-6{top: 130px; left: 1200px;}

#icon-txt-1{top: -90px; left: 663px; width: 120px;}
#icon-txt-2{top: 32px; left: 663px; width: 120px;}
#icon-txt-3{top: 152px; left: 663px; width: 120px;}
#icon-txt-4{top: -98px; left: 1365px; width: 200px;}
#icon-txt-5{top: 17px; left: 1365px; width: 200px;}
#icon-txt-6{top: 175px; left: 1365px; width: 200px;}

#h2-1{top: 40px; left: 830px;}
#h2-2{top: 40px; left: 2550px;}
#h2-3{top: 40px; left: 4453px;}
#h2-4{top: 40px; left: 5980px;}
#h2-5{top: 40px; left: 7400px;}
#h2-6{top: 40px; left: 8770px;}
#h2-7{top: 40px; left: 10300px;}
#h2-8{top: 40px; left: 11500px;}
#h2-9{top: 40px; left: 12970px;}
#h2-10{top: 40px; left: 14300px;}
#h2-11{top: 40px; left: 15450px;}
#h2-12{top: -95px; left: 16400px;}

#subt-1{ top: 85px; left: 800px;}
#subt-2{ top: 85px; left: 2500px;}
#subt-3{ top: 85px; left: 4424px;}
#subt-4{ top: 85px; left: 6100px;}
#subt-5{ top: 85px; left: 7429px;}
#subt-6{ top: 85px; left: 8797px;}
#subt-7{ top: 85px; left: 10355px;}
#subt-8{ top: 85px; left: 11558px;}
#subt-9{ top: 85px; left: 13028px;}
#subt-10{ top: 85px; left: 14328px;}
#subt-11{ top: 85px; left: 15470px;}
#subt-12{top: 30px; left: 16400px; font-size: 1.85em;}

#txt-1{ top: 250px; left: 579px; width: 200px;}
#txt-2{ top: 192px; left: 2216px; width: 450px;}
#txt-3{ top: 192px; left: 2705px; width: 450px;}
#txt-4{ top: 159px; left: 4102px; width: 400px;}
#txt-5{ top: 159px; left: 4575px; width: 400px;}
#txt-6{ top: 210px; left: 5950px; width: 500px;}
#txt-7{ top: 250px; left: 9900px; width: 450px;}
#txt-8{ top: 220px; left: 11107px; width: 400px;}
#txt-9{ top: 220px; left: 11650px; width: 400px;}
#txt-10{ top: -127px; left: 11800px; width: 70px;}
#txt-11{ top: -127px; left: 12068px; width: 70px;}
#txt-12{ top: -215px; left: 13288px; width: 350px;}
#txt-13{ top: 220px; left: 12582px; width: 450px;}
#txt-14{ top: 220px; left: 13100px; width: 450px;}
#txt-15{ top: 200px; left: 16600px; width: 400px;}

#h3-1{ top: -195px; left: 1365px;}
#h3-2{ top: 200px; left: 931px; border-bottom: 2px solid #1a5489;}
#h3-3{ top: 115px; left: 7320px;}
#h3-4{ top: -200px; left: 2079px;}
#h3-5{ top: 150px; left: 2215px;}
#h3-6{ top: -162px; left: 3080px;}
#h3-7{ top: 120px; left: 4100px;}
#h3-8{ top: 213px; left: 7175px;}
#h3-9{ top: 213px; left: 7760px;}
#h3-10{ top: 120px; left: 8684px;}
#h3-11{ top: 213px; left: 8865px;}
#h3-12{ top: -200px; left: 10021px;}
#h3-13{ top: 216px; left: 9900px;}
#h3-14{ top: -201px; left: 11226px;}
#h3-15{ top: -201px; left: 12676px;}
#h3-16{ top: -241px; left: 13286px;}
#h3-17{ top: -174px; left: 13854px;}
#h3-18{ top: 213px; left: 13941px;}
#h3-19{ top: 214px; left: 14565px;}
#h3-20{ top: 214px; left: 14600px;}
#h3-21{ top: 214px; left: 15446px;}
#h3-22{ top: 120px; left: 15615px; color: white;}
#h3-23{ top: 142px; left: 15734px; color: white;}
#h3-24{ top: 120px; left: 15837px; color: white;}
#h3-25{ top: 140px; left: 15996px; color: white;}
#h3-26{ top: 194px; left: 15743px;}
#h3-27{ top: -265px; left: 15784px;}
#h3-28{ top: 185px; left: 15175px; width: 400px; text-align: left; color: white; background-color: #1a5489; padding: 10px; font-weight: normal; font-size: 1.3em;}

#arrow-0{top: -184px; left: 1477px;}
#arrow-1{top: -174px; left: 2271px;}
#arrow-2{top: -150px; left: 3205px;}

#warning-1{top: 275px; left: 2670px;}
#warning-2{top: 157px; left: 4540px;}
#warning-3{top: 217px; left: 13065px;}
#warning-4{top: 150px; left: 13400px;}

#b-line-1{top: 46px; left: 7120px;}
#b-line-2{top: 83px; left: 7500px;}
#b-line-3{top: -43px; left: 11409px;}
#b-line-4{top: -43px; left: 12855px;}
#b-line-5{top: 76px; left: 13802px;}
#b-line-6{top: 76px; left: 14577px;}
#b-line-7{top: 76px; left: 14611px;}
#b-line-8{top: 234px; left: 14905px;}

#blt-1{top: 195px; left: 7210px;}
#blt-2{top: 195px; left: 7814px;}
#blt-3{top: 195px; left: 8915px;}
#blt-4{top: 195px; left: 14045px;}
#blt-5{top: 195px; left: 14668px;}
#blt-6{top: 195px; left: 14742px;}

#figure-1{top: -103px; left: 7150px;}
#figure-1a{top: -90px; left: 7065px;}
#figure-1b{top: -90px; left: 7270px;}
#figure-2{top: -132px; left: 7607px;}
#figure-3{top: -61px; left: 8430px;}
#figure-4{top: -65px; left: 8530px; z-index: 8}
#figure-5{top: -144px; left: 9934px;}
#figure-6{top: -144px; left: 11136px;}
#figure-7{top: -136px; left: 11784px;}
#figure-8{top: -144px; left: 12591px;}
#figure-9{top: 34px; left: 13042px;}
#figure-10{top: 7px; left: 13135px;}
#figure-11{top: -172px; left: 13224px;}
#figure-12{top: 7px; left: 13264px;}
#figure-13{top: 7px;; left: 13396px;}
#figure-14{top: 7px; left: 13527px;}
#figure-15{top: -300px; left: 13412px;}
#figure-16{top: -130px; left: 13796px;}
#figure-17{top: -41px; left: 14566px;}
#figure-18{top: -89px; left: 14610px;}
#figure-19{top: -168px; left: 15247px;}
#figure-20{top: -45px; left: 15600px;}
#figure-21{top: -23px; left: 15720px;}
#figure-22{top: -45px; left: 15850px;}
#figure-23{top: -23px; left: 15980px;}
#figure-24{top: -230px; left: 15780px;}
/**/
#up-down-arrow-1{top: 75px; left: 8106px;}
#up-down-arrow-2{top: 75px; left: 8245px;}
#up-down-arrow-3{top: 75px; left: 8382px;}
#up-down-arrow-4{top: 75px; left: 8517px;}
#up-down-arrow-5{top: 123px; left: 14850px;}
#up-down-arrow-6{top: 123px; left: 14980px;}

#cloud-1{top: 130px; left: 100px;}
#cloud-2{top: 70px; left: 0px;}
#cloud-3{top: 130px; left: 500px;}
#cloud-4{top: 90px; left: 1000px;}
#cloud-5{top: 50px; left: 1200px;}
#cloud-6{top: 90px; left: 1500px;}
#cloud-7{top: 20px; left: 2200px;}
#cloud-8{top: 130px; left: 2500px;}
#cloud-9{top: 110px; left: 3200px;}
#cloud-10{top: 65px; left: 3500px;}
#cloud-11{top: 110px; left: 3800px;}
#cloud-12{top: 70px; left: 4400px;}
#cloud-13{top: 120px; left: 4700px;}
#cloud-14{top: 70px; left: 5000px;}
#cloud-15{top: 100px; left: 6000px;}
#cloud-16{top: 100px; left: 6600px;}
#cloud-17{top: 20px; left: 7400px;}
#cloud-18{top: 70px; left: 8100px;}
#cloud-19{top: 70px; left: 8600px;}
#cloud-20{top: 70px; left: 9200px;}
#cloud-21{top: 250px; left: 10500px;}
#cloud-22{top: 20px; left: 11000px;}
#cloud-23{top: 160px; left: 11900px;}
#cloud-24{top: 120px; left: 12500px;}
#cloud-25{top: 150px; left: 12900px;}
#cloud-26{top: 100px; left: 13500px;}
#cloud-27{top: 150px; left: 13900px;}
#cloud-28{top: 20px; left: 14500px;}
#cloud-29{top: 35px; left: 14900px;}

a#continue-yacimiento-process{top: 100px; left: 15904px;}
a#continue-gasoducto-process{top: 100px; left: 16122px}
.menu-circles-icons-end p.pick-btn{top: 0;left: 15660px;}

.menu-circles-icons-end{
  left: 17200px;
}

/*elements css*/
.treeType1{
  z-index: 4; position: absolute;
  width: 80px; height: 117px;
  background: transparent url(../images/arbol-galileo-1.png) no-repeat;
}
.treeType2{
  z-index: 4; position: absolute;
  width: 64px; height: 94px;
  background: transparent url(../images/arbol-galileo-2.png) no-repeat;  
}
.txtWrap1{
  z-index: 10; position: absolute;
  width: 341px; height: 537px;
  background: transparent url(../images/cajon-txt-section1.png) no-repeat;
  padding: 20px 0;
}
.txtWrap2{
  width: 407px; height: 311px;
  z-index: 10; position: absolute;
  background: transparent url(../images/cnx-bg.png) no-repeat;
  padding: 0;
}
#line-1{
  width: 120px; height: 177px;
  background: transparent url(../images/linea01.png) no-repeat;
  top: 100px; left: 788px;
}
.red-arrow{
  width: 74px; height: 9px;
  background: transparent url(../images/arrow1.png) no-repeat;
}
.warning-icon{
  width: 25px; height: 25px;
  background: transparent url(../images/icono-warning.png) no-repeat;  
}
.icon1{
  width: 152px; height: 111px;
  background: transparent url(../images/biogas-01.png) no-repeat;
}
.icon2{
 width: 152px; height: 110px;
 background: transparent url(../images/biogas-02.png) no-repeat;
}
.icon3{
 width: 161px; height: 111px;
 background: transparent url(../images/biogas-03.png) no-repeat;
}
.icon4{
 width: 152px; height: 111px;
 background: transparent url(../images/biogas-04.png) no-repeat;
}
.icon5{
 width: 152px; height: 111px;
 background: transparent url(../images/biogas-05.png) no-repeat;;
}
.icon6{
 width: 152px; height: 111px;
 background: transparent url(../images/biogas-06.png) no-repeat;
}
.figure1{
 width: 210px; height: 148px;
 background: transparent url(../images/cuasianas-upstream.png) no-repeat;
}
.figure2{
 width: 433px; height: 211px;
 background: transparent url(../images/industrias.png) no-repeat;
}
.figure3{
 width: 1027px; height: 216px;
 background: transparent url(../images/yate.png) no-repeat;
}
.figure4{
 width: 308px; height: 26px;
 background: transparent url(../images/tren.png) no-repeat;
}
.figure5-en{
 width: 319px; height: 225px;
 background: transparent url(../images/cnx-figure-en.png) no-repeat;
}
.figure5-es{
 width: 319px; height: 225px;
 background: transparent url(../images/cnx-figure-es.png) no-repeat;
}
.figure6{
 width: 399px; height: 218px;
 background: transparent url(../images/estacion-servicio-gnl.png) no-repeat;
}
.figure7{
 width: 83px; height: 59px;
 background: transparent url(../images/carro-rojo.png) no-repeat;
}
.figure8{
 width: 99px; height: 83px;
 background: transparent url(../images/camion-amarillo.png) no-repeat;
}
.figure9{
 width: 461px; height: 195px;
 background: transparent url(../images/bodega.png) no-repeat;
}
.figure10{
 width: 80px; height: 58px;
 background: transparent url(../images/medidor.gif) no-repeat;
}
.figure11{
 width: 474px; height: 197px;
 background: transparent url(../images/comunidades.png) no-repeat;
}
.figure12{
 width: 218px; height: 110px;
 background: transparent url(../images/inyeccion-red.png) no-repeat;
}
.figure13{
 width: 255px; height: 158px;
 background: transparent url(../images/terminal-recepcion.png) no-repeat;
}
.figure14{
 width: 1147px; height: 278px;
 background: transparent url(../images/barco-carga.png) no-repeat;
}
.figure15{
 width: 68px; height: 163px;
 background: transparent url(../images/flecha-blanca.png) no-repeat;
}
.figure16{
 width: 68px; height: 163px;
 background: transparent url(../images/flecha-azul.png) no-repeat;
}
.figure17{
 width: 113px; height: 75px;
 background: transparent url(../images/pipeline-booster.png) no-repeat;
}
.figure18{
 width: 135px; height: 150px;
 background: transparent url(../images/torre-electrica-1.png) no-repeat;
}
.figure18a{
 width: 103px; height: 115px;
 background: transparent url(../images/torre-electrica-2.png) no-repeat;
}
.figure19{
 width: 301px; height: 251px;
 background: transparent url(../images/industrias-sml.png) no-repeat;
}
.figure20{
 width: 69px; height: 112px;
 background: transparent url(../images/orphan-wells.png) no-repeat;
}
.figure21{
 width: 75px; height: 57px;
 background: transparent url(../images/wellhead.png) no-repeat;
}
.figure22{
 width: 78px; height: 48px;
 background: transparent url(../images/gathering-gas-lift.png) no-repeat;
}
.figure23{
 width: 78px; height: 59px;
 background: transparent url(../images/flaring.png) no-repeat;
}
.figure24{
 width: 301px; height: 160px;
 background: transparent url(../images/mineria.png) no-repeat;
}
.blue-line-title{
  width: 3px; height: 19px;
  background: transparent url(../images/linea-azul-01.png) no-repeat;
}
.b-line-1{
  width: 181px; height: 101px;
  background: transparent url(../images/linea-azul-12.png) no-repeat;
}
.b-line-2{
  width: 632px; height: 67px;
  background: transparent url(../images/linea-azul-03.png) no-repeat;
}
.b-line-3{
  width: 563px; height: 146px;
  background: transparent url(../images/linea-azul-05.png) no-repeat;
}
.b-line-4{
  width: 332px; height: 162px;
  background: transparent url(../images/linea-azul-06.png) no-repeat;
}
.b-line-5{
  width: 476px; height: 69px;
  background: transparent url(../images/linea-azul-07.png) no-repeat;
}
.b-line-6{
  width: 224px; height: 69px;
  background: transparent url(../images/linea-azul-08.png) no-repeat;
}
.b-line-7{
  width: 257px; height: 69px;
  background: transparent url(../images/linea-azul-09.png) no-repeat;
}
.b-line-8{
  width: 541px; height: 3px;
  background: transparent url(../images/linea-azul-14.png) no-repeat;
}