/* ESTILOS GALILEO - UXDEVCO */
body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #8bc9c3;
  color: white;
  overflow-x: hidden;
}    
.front{
  z-index: 500;
  width: 20000px;
}
.scroll{    
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.sr .screen2-txt { 
  visibility: hidden; 
}
h1, h2, h3, h4{
  margin: 0;
  padding: 0;
  line-height: inherit;
}
.title-section h2{
  color: white;
  font-size: 1.85em;
  padding: 0 1em;
  background-color: #1a5489;
  text-align: center;
  margin: 0 auto;
  width: auto;
  display: table;
}
.h2-title-box{
  position: absolute;
  z-index: 13;
  color: white;
  font-size: 1.85em;
  padding: 0 1em;
  background-color: #1a5489;
  text-align: center;
}
h3{
  color: #1a5489;
  font-size: 1.65em;  
}
h4.subtitle{
  width: 11.5em;
  font-size: 24px;
  text-align: center;
  position: absolute;
  z-index: 13;
}
span.numeracion{
  color: white;
  background-color: #1a5489;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
  font-size: 18px;
  line-height: 25px;
}
.title-h3{
  position: absolute;
  z-index: 11;
  text-align: center;
  line-height: 28px;
}
#wrapper{
  width: 20000px;
  height: 900px;
  display: block;
  position: relative;
}
.section{
  width: 1280px;
  height: 100%;
  float: left;
  position: relative;
}
.section-content{
  width: 98%;
  height: 98%;
  padding: 2%;
}

/**/
.bottom-nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0;
  padding: 1em 0;
}
.navigation{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  bottom: 2em;
}
.navigation a{
  width: 10px;
  height: 10px;
  background-color: #538480;
  border: 5px solid #538480;
  margin: 0 0.2em;
  display: inline-block;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.navigation a:hover{
  background-color: #f2990a;
}

img.logo-intro{
  width: 50%;
  margin-top: 20%;
}
.camion-section{
  position: absolute;
  left: 3370px;
  top: 230px;
  z-index: 12;
}
/*screen2*/
.screen2-txt{
  float: left;
  width: 40%;
  margin-top: 20%;
  font-size: 1.2em;
}
.menu-circles-icons{
  float: right;
  width: 182px;
  margin-right: 20%;
}
.menu-circles-icons a{
  width: 182px;
  height: 197px;
  display: block;
  transition: all 0.5s ease;
  margin-bottom: 1em;
}
a.biogas-menu-btn{
  background: url(../images/gnc-biogas-btn.png) no-repeat;
}
a.biogas-menu-btn:hover{
  background: url(../images/gnc-biogas-btn-hover.png) no-repeat;
}
a.yacimiento-menu-btn{
  background: url(../images/gnc-yacimiento-btn.png) no-repeat;  
}
a.yacimiento-menu-btn:hover{
  background: url(../images/gnc-yacimiento-btn-hover.png) no-repeat; 
}
a.gasoducto-menu-btn{
  background: url(../images/gnc-gasoducto-btn.png) no-repeat;  
}
a.gasoducto-menu-btn:hover{
  background: url(../images/gnc-gasoducto-btn-hover.png) no-repeat; 
}
/*screen 3 menu*/
.screen3-title{
  float: left;
  width: 45%;
  margin-top: 20%;
}
.screen3-title h1{
  color: #1a5489;
  font-size: 7.7em;
  line-height: initial;
  border-bottom: 5px solid #1a5489;
  margin-bottom: 0.2em; 
}
.screen3-title p{
  font-size: 2.2em;
}

/*landscape*/
.landscape-section{
  width: 100%;
  height: 100%;
  max-height: 670px;
  float: left;
  position: relative;
}
